.container {
     background-color: lightgray;
}
.navbar-brand {
     font-weight: bold;
     font-size: 50px;
}

.show {
     display: block;
}
.hide {
     display: none;
}

form {
     margin-bottom: 20px;
}

#msg.error {
     visibility: visible;
     font-size: larger;
}

#msg.error {
     color: #e6252c;
}

#button:hover {
     border-color: darkgreen;
}
.btn-primary {
     color: #fff;
     background-color: #007bff;
     border-color: #007bff;
}
.result {
     border: 1px solid lightgray;
     margin-bottom: 20px;
}
